<%- include ('partials/header') %>

<div class="sign-up-wrapper">

    <span class="sign-up">
        <h2>Hier zur Bereitschaft anmelden:</h2>
        <input type="email" placeholder="Email">
    </span>
</div>

<div class="card-listing container">

    <% if(place && place.victims.length > 0){ %>
    <div class="card-deck">
        <div class="row" id="cardRow">
            <% for (let i = 0; i < place.victims.length; i++){ %>
                <div class="col-md-4">
            <div class="card border-secondary mb-4">
                <div class="card-header">Postleitzahl: <%= place.victims[i].postalCode %></div>
                <span class="badge badge-warning">Ausstehend</span>
                <div class="card-body">
                    <h5 class="card-title">Audio abspielen</h5>
                    <audio src="<%= place.victims[i].problem.audioFile %>" controls>
                        Your browser does not support the audio element.
                    </audio>
                    <div class="nummerbutton">
                        <p>
                            <a class="btn btn-primary" data-toggle="collapse" href="#collapse<%= i %>" role="button"
                                aria-expanded="false<%= i %>" aria-controls="collapse<%= i %>">
                                Kontakt Nummer Anzeigen
                            </a>
                        </p>
                    </div>
                    <div class="collapse" id="collapse<%= i %>">
                        <div class="card card-body">
                            <%= place.victims[i].phoneNumber %>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <%= place.victims[i].createdAt %>
                </div>
            </div>
            </div>
            <% } %>
        </div>
    </div>
    <% } else { %>
    <div class="no-cards">
        <div class="card">
            <div class="card-body">
                Im moment braucht niemand in deiner Nähe hilfe, du kannst dich aber gerne zur bereitschaft anmelden und
                wir werden dich kontaktieren sobald jemand einen Hilfs Antrag stellt.
            </div>
        </div>
    </div>
    <% } %>

</div>


<%- include ('partials/footer') %>