<%- include ('partials/header') %>

<div class="sign-up-wrapper">

    <span class="sign-up">
        <h2>Hier zur Bereitschaft anmelden:</h2>
        <input type="email" placeholder="Email">
    </span>
</div>

<div class="card-listing container">

<% if(place && place.victims.length > 0){ %>
    <div class="card-deck">
        <div class="row">
            <% for (let i = 0; i < place.victims.length; i++){ %>
            <div class="card border-secondary mb-4">
                <div class="card-header">Postleitzahl: <%= place.victims[i]._id %></div>
                <span class="badge badge-danger">Dringend</span>
                <div class="card-body">
                    <h5 class="card-title">Audio abspielen</h5>
                    <audio src="<%= place.victims[i].problem.audioFile %>" controls>
                        Your browser does not support the audio element.
                    </audio> 
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Telefon Nummer erfragen</a>
                </div>
                <div class="card-footer text-muted">
                    <%= place.victims[i].createdAt %>
                </div>
            </div>
            <% } %>
        </div>
    </div>
<% else{ %>
    <div class="no-cards">
        <div class="card">
            <div class="card-body">
                Im moment braucht niemand in deiner Nähe hilfe, du kannst dich aber gerne zur bereitschaft anmelden und
                wir werden dich kontaktieren sobald jemand einen Hilfs Antrag stellt.
            </div>
        </div>
    </div>
<% } %>

</div>




        <div class="row">
            <div class="card border-secondary mb-4">
                <div class="card-header">Postleitzahl:</div>
                <span class="badge badge-danger">Dringend</span>
                <div class="card-body">
                    <h5 class="card-title">Audio abspielen</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Telefon Nummer erfragen</a>
                </div>
                <div class="card-footer text-muted">
                    01/05/2020 13:12
                </div>
            </div>



            <div class="card border-secondary mb-4">
                <div class="card-header">Postleitzahl: 66424</div>
                <span class="badge badge-warning">Undringend</span>
                <div class="card-body">
                    <h5 class="card-title">Audio abspielen</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Telefon Nummer erfragen</a>
                </div>
                <div class="card-footer text-muted">
                    01/05/2020 13:56
                </div>
            </div>


            <div class="card border-secondary mb-4">
                <div class="card-header">Postleitzahl: 66424</div>
                <span class="badge badge-info">Gediegen</span>
                <div class="card-body">
                    <h5 class="card-title">Audio abspielen</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Telefon Nummer erfragen</a>
                </div>
                <div class="card-footer text-muted">
                    01/05/2020 13:24
                </div>
            </div>

        </div>



<%- include ('partials/footer') %>